name: Compress Files

on:
  release:
    types: [published]

jobs:
  compress-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compress Directory
        uses: somaz94/compress-decompress@v1
        with:
          command: compress
          source: ./src
          format: zip
          includeRoot: 'false'
      
      - name: Rename file 
        run: mv ./src/src.zip ./src/OverlayAway.zip

      - name: Upload to Release
        uses: Shopify/upload-to-release@v2.0.0
        with:
          # Artifact name
          name: OverlayAway.zip
          # Path to the file to upload
          path: ./src/OverlayAway.zip
          # Content type for the file
          content-type: application/zip
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Modrinth
        # You may pin to the exact commit or the version.
        # uses: RubixDev/modrinth-upload@f2032d3313b46ed5d031dc4835610eb13347d020
        uses: RubixDev/modrinth-upload@v1.0.2
        with:
          # Token used to authenticate with Modrinth API. Use a repository secret for this
          token: ${{ secrets.MODRINTH_TOKEN }}
          # The path to the file you want to upload
          file_path: ./src/OverlayAway.zip
          # The display name for this file
          name: OverlayAway.zip
          # The version number. Ideally will follow semantic versioning
          version: ${{ github.event.release.tag_name }}
          # The changelog for this version
          changelog: ${{ github.event.release.body }}
          # The game versions to select on this file. Separate with "," (no quotes)
          game_versions: 1.20.1 #todo: different versions upload auto?
          # The type of this release. Allowed values: "alpha", "beta", "release"
          release_type: release
          # The mod loaders that this version supports. Separate with "," (no quotes)
          loaders: "minecraft"
          # Whether the version is featured or not
          featured: true
          # Project ID to upload file to. You can get the ID from the sidebar on a project page under "Technical Information"
          project_id: 1ft9XWRu
